# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Mercado Pago — TEST credentials
NEXT_PUBLIC_MP_PUBLIC_KEY=
MP_ACCESS_TOKEN=
MP_PLAN_INTERNO_ID=
MP_PLAN_RESIDENTE_ID=
MP_WEBHOOK_SECRET=
