<aside class="aside">
  <nav class="nav" id="app-nav">
    <a href="#home" data-view="home" data-active="true"><span class="label">Home</span></a>
    <a href="#qbank" data-view="qbank"><span class="label">Qbank</span></a>
    <a href="#novedades" data-view="novedades"><span class="label">Novedades</span></a>
    <a href="#laboratorio" data-view="laboratorio"><span class="label">Laboratorio virtual</span></a>
    <a href="#contacto" data-view="contacto"><span class="label">Contáctanos</span></a>
  </nav>
</aside>
